
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    background-color: rgb(47, 56, 64);
}
.contenedor-header header {
    background-color: #232b29;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px ;
}
.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-decoration: none #1cb698;
    color:#232b29 ;
    text-decoration: none;
}
.logo:hover {
    color: aliceblue;
}
.contenedor-header header .menu {
    display: flex;
}