/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos para el encabezado y el banner */
  header {
    background-image: url(/html/img/img3.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  /* Estilos para la navegación */
  nav {
    background-color: #3b3131;
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
  }
  
  /* Estilos para el contenido */
  main {
    padding: 20px;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }

  /* estilos para el formulario registro*/
  .formulario-registro {
    width: 10px;
    height: 10px;
    border: 2px solid #3b3131;
  }