*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    text-size-adjust: 30px;
    
}
.contenedor {
    width: 97%;
    height: 1000px;
    background-color: rgb(59, 58, 49);
    margin: 1em auto;
    padding: 1em;
    border-radius: 20px;
}
#header {
    height: 15%;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(90, 87, 87);
    text-align: center ;
    color: azure;
    height: 100px;
    margin: 1;
}
#nav a {
    border-style: solid;
    margin: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 7%;
    object-position: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#nav a:hover {
    background-color: blue;
}
#nav {
    background-color: rgb(112, 112, 154);
    text-align: center;
    border-radius: 10px;
    height: 6%;
}
#contenido {
    height: 53%;
    width:98% ;
    background-color: blueviolet;
    margin: 0%;
    padding: 1%;
    border-radius: 10px;
}
#seccion1 {
    height: 95%;
    width: 65%;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 1%;
    padding: 0%;
    float: left;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.articulo {
    width: 95%;
    height: 25%;
    background-color: aqua;
    margin: 8px;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
#seccion2 {
    height: 95%;
    width: 30%;
    background-color: blue;
    border-radius: 20px;
    margin: 1%;
    float: right;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#piedepagina {
    background-color: blanchedalmond;
    margin: 0%;
    height: 10%;
    border-radius: 20px;
    text-align: center;
}

