@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body {
  background-image: url(img/img11.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h1 {
    background:#262834;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: white;
    font-size: 4rem;
    font-weight: 9px;
   font-family: 'Righteous', cursive;;
    text-align: center;
    text-shadow: 4px 2px 10px #009dff;
    padding: 0.5px;
}

.text-box  {
  color: #009dff;
  background-color: #262834;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  text-shadow: 3px 5px 6px white;
} 
div {
  background: #262834;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  text-shadow: 3px 5px 6px white;
} 

.container {
  display: flex;
      justify-content: center;
}
  .button-container {
      display: flex;
      justify-content: center;
  }
  .button {
    align-items: center;
    justify-content: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 17px;
    text-decoration: none;
    background-color: #799bfab6;
    color: #fff;
    font-family: 'Righteous', cursive;
    border: none;
    transition: background-color 0.3s ease;
} 
  
  .button:hover {
    background-color: #b0c1ff;
    text-shadow: 2px 1px 6px rgb(13, 0, 255);
  }
  
.button {
   position: center;
    margin: 10px;
    padding: 25px;
    text-align: center;
    display: block;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    width: 287px;
    overflow: hidden;
    border-radius: 40px;
}
p {
  color: #7777c9;
  text-shadow: 2px 1px 3px rgb(38, 0, 255);
}
.footer {
  background-color: #262834;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin: 0;
}





