@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
body {
    background-image: url(https://cdn.pixabay.com/photo/2014/02/19/16/35/background-269933_1280.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Rubik Puddles', sans-serif;
    color: #fff;
}
.animated-word {
    display: flex;
    align-items: center;
    justify-content: center;
}
.letter {
    transition: 0.4s;
    transform: translateX(0);
    cursor: grab;
    color: #000000;
    font-family: 'Rock Salt', cursive;
    font-size: 6rem;
    font-weight: 700;
    margin: 0 2px;
    
}
.letter:hover {
    transform: translateY(-1rem);
    background: -webkit-linear-gradient(128deg,
    hsl(145, 90%, 52%), hsl(211, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}