body {
    font-family: sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
header {
    display: flex;
    min-height: 70px;
    background-color: rgb(36, 35, 35);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.section1{
    background-color: rgb(56, 46, 46);
    position: relative;
    list-style: none;
    top: -40%;
    z-index: 1;
    color: #fff;
}
.section1 h2{
    text-transform: uppercase;
    text-align: center;
    text-shadow:1px 1px 6px #c401ff;
    font-size: xx-large;
}
.section1 h1{
    padding: 20px 0;
    text-transform: uppercase;
    text-align: center;
    text-shadow:1px 1px 2px #ffffff;
    font-size: xx-large;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    margin-right: 20px;
    width: 130px;
    height: 130px;
}
nav a {
    font-weight: 900;
    padding-right: 10px;
}
nav a:hover {
    color: rgb(238, 255, 0);
}
h1 {
    color: rgb(0, 38, 255);
    font-size: 3rem;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.logo:hover {
    cursor: pointer;
    color: rgb(238, 255, 0);
}
@media (max-width: 680px){
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
}
ol .li {
    margin: 0;
}
.
background: -webkit-linear-gradient(128deg,
    hsl(145, 90%, 52%), hsl(211, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

